# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\mc_jo\OneDrive - Københavns Erhvervsakademi\Datamatiker\Programmering\Marios-PizzaBar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
